body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: blueviolet;
    border: 3px solid red;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 30px 10px 30px 10px;
}

.card__title {
    margin: 30px 0 20px 0;
}

.display {
    margin: auto auto auto 30px;
    font-size: 25px;
    /* font-weight: bold; */
}

#price {
    font-size: 20px;
}

input {
    border-radius: 5px;
}

button {
    background-color: red;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: red;
    border: 1px solid black;
    color: black;
}

#displayColor {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}